# ---------- WEBAPP CONFIG ---------- #
WEBAPP_PORT = "8000"
UVICORN_WORKERS = "1"



# ---------- DJANGO CONFIG ---------- #
DJANGO_DEBUG = False # Set to True for development, False for production
DJANGO_SECRET_KEY = "django-insecure-d)+b7f#u@$@q)(ft*qcz1!%^uvy(_ext-^t4d6i$3l$)21__s(" # Change this to a strong secret key!
DJANGO_ALLOWED_HOSTS = ["127.0.0.1", "localhost"] # List of allowed hosts



# ---------- BIBLE CONFIG ---------- #
ENABLED_VERSIONS = [] # Leave empty to enable all versions. See `frontend/bible_data/` for available versions.
DEFAULT_VERSION = "bsb" # Must be in ENABLED_VERSIONS
DEFAULT_BOOK = "Genesis" # Must be in the books of the default version
DEFAULT_CHAPTER = 1 # Must be in the chapters of the default book



# ---------- API KEYS ---------- #
HF_TOKEN = ""



# ---------- POSTGRESQL CONFIG ---------- #
# Database credentials
POSTGRES_HOST = "" # Can be an external PostgreSQL endpoint (e.g., postgresql-instance.com). If using a local PostgreSQL service, can leave empty.
POSTGRES_PORT = "5432" # Only used if POSTGRES_HOST is set (for external databases). For local postgres, port 5432 is always used.
POSTGRES_USER = "faith_user"
POSTGRES_PASSWORD = "postgres-secure-password" # Use a strong password!
POSTGRES_DATABASE = "faith_db"



# ---------- MILVUS ---------- #
# Database credentials
MILVUS_URL = "" # Can be an external Milvus endpoint (e.g., http://milvus-instance.com). If using a local Milvus service, can leave empty.
# The default Milvus port (19530) will be used if MILVUS_URL is not set in order to not require exposing the port.
MILVUS_DATABASE_NAME = "fAIth"
MILVUS_USERNAME = "root"
MILVUS_PASSWORD = "Milvus"

# Database Configuration
# DATABASE_TYPE = "dense" # Use only vector embeddings with your embedding model
# DATABASE_TYPE = "sparse" # Use only lexical search with BM25
DATABASE_TYPE = "hybrid" # Use both vector embeddings and lexical search
# How much influence the vector embeddings and lexical search has on the overall results
# Only available when using "hybrid" search
DENSE_WEIGHT = 0.8
SPARSE_WEIGHT = 0.2
MILVUS_SEARCH_LIMIT = 10



# ---------- EMBEDDING MODEL ---------- #
# Endpoints
BASE_EMBEDDING_URL = "" # Can be an external embedding endpoint (e.g., http://embedding-instance.com). If using a local embedding service, can leave empty.
EMBEDDING_API_KEY = "" # Should be set to the API key you want to use for the embedding model. If using local models, can leave empty. If using remote models, should be set to the API key for the service you are using.

# Localhost options
EMBEDDING_PORT = "11435" # NOTE: If using a local embedding, this MUST be set to the port you want to use for the embedding service. If using a remote embedding service, this can be left empty.

# Embedding Model
EMBEDDING_MODEL_ID = "Qwen/Qwen3-Embedding-0.6B-GGUF:Q8_0" # The model ID you want to use for the embedding model
EMBEDDING_MODEL_DOCUMENT_PROMPT = "{text}"
EMBEDDING_MODEL_QUERY_PROMPT = "Instruct: Given a Bible-related query, retrieve relevant passages that answer the query.\nQuery: {text}"
EMBEDDING_MAX_CONTEXT_LENGTH = 4096 # The maximum context length you want to allow for the embedding model

# Embedding Model Runners
# EMBEDDING_MODEL_RUNNER = "vllm"
EMBEDDING_MODEL_RUNNER = "llama_cpp"
# EMBEDDING_MODEL_RUNNER = "ollama"
# EMBEDDING_MODEL_RUNNER = "docker_model_runner"
# EMBEDDING_MODEL_RUNNER = "sglang"

# GPU Type
EMBEDDING_GPU_TYPE="cpu"
# EMBEDDING_GPU_TYPE="nvidia"
# EMBEDDING_GPU_TYPE="amd"
# EMBEDDING_GPU_TYPE="intel"

# GPU Driver
EMBEDDING_DRIVER ="cpu"
# EMBEDDING_DRIVER ="cuda"
# EMBEDDING_DRIVER ="rocm"
# EMBEDDING_DRIVER ="vulkan"

# Llama CPP Python specific things
EMBEDDING_LLAMA_CPP_GPU_LAYERS = -1 # How many layers you want allocated to the GPU. 0 for none (all to CPU), -1 for all possible layers on GPU
EMBEDDING_LLAMA_CPP_CONCURRENCY = 1 # How many concurrent requests you want to allow to the embedding model

# vLLM specific things
EMBEDDING_VLLM_ENFORCE_EAGER = False



# ---------- LLM MODEL ---------- #
# Endpoints
BASE_LLM_URL = "" # Can be an external LLM endpoint (e.g., http://llm-instance.com). If using a local LLM service, can leave empty.
LLM_API_KEY = "" # Should be set to the API key you want to use for the LLM model. If using local models, can leave empty. If using remote models, should be set to the API key for the service you are using.

# Localhost options
LLM_PORT = "11436" # NOTE: If using a local LLM, this MUST be set to the port you want to use for the LLM service. If using a remote LLM service, this can be left empty.

# LLM Model
LLM_MODEL_ID = "unsloth/Qwen3.5-4B-GGUF:Q4_K_M" # The model ID you want to use for the LLM model
LLM_MODEL_ARGUMENTS = '{"chat_template_kwargs": {"enable_thinking": false}}' # The arguments you want to pass to the LLM model
LLM_MAX_CONTEXT_LENGTH = 4096 # The maximum context length you want to allow for the LLM model

# LLM Model Runners
# LLM_MODEL_RUNNER = "vllm"
LLM_MODEL_RUNNER = "llama_cpp"
# LLM_MODEL_RUNNER = "ollama"
# LLM_MODEL_RUNNER = "docker_model_runner"
# LLM_MODEL_RUNNER = "sglang"

# GPU Type
LLM_GPU_TYPE="cpu"
# LLM_GPU_TYPE="nvidia"
# LLM_GPU_TYPE="amd"
# LLM_GPU_TYPE="intel"

# GPU Driver
LLM_DRIVER="cpu"
# LLM_DRIVER="cuda"
# LLM_DRIVER="rocm"
# LLM_DRIVER="vulkan"

# Llama CPP Python specific things
LLM_LLAMA_CPP_GPU_LAYERS = -1 # How many layers you want allocated to the GPU. 0 for none (all to CPU), -1 for all possible layers on GPU
LLM_LLAMA_CPP_CONCURRENCY = 1 # How many concurrent requests you want to allow to the LLM model

# vLLM specific things
LLM_VLLM_ENFORCE_EAGER = False