# Core dependencies for fAIth
Django==5.2.7
djangorestframework==3.16.1
python-dotenv==1.1.1
whitenoise==6.11.0
psycopg==3.2.12

# ASGI Server Dependencies
adrf==0.1.10
django_asgi_lifespan==0.5.0
uvicorn>=0.38.0

# LLM
openai==2.6.0

# Vector Database / Embedding
pymilvus==2.6.2

# Testing
# ruff==0.14.1