# Core dependencies for fAIth
Django==6.0.2
djangorestframework==3.16.1
python-dotenv==1.2.1
whitenoise==6.11.0
psycopg[binary]==3.3.2

# ASGI Server Dependencies
adrf==0.1.12
django_asgi_lifespan==0.5.1
uvicorn>=0.38.0

# LLM
openai==2.17.0
markdown==3.10.1

# Vector Database / Embedding
pymilvus==2.6.8

# Testing
# ruff==0.15.1
# pytest==9.0.2
# pytest-django==4.11.1
# pytest-asyncio==1.3.0