{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="fAIth - AI Powered Study Bible">
        <title>fAIth</title>
        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <!-- Installed CSS -->
        <link rel="stylesheet" href="{% static 'css/installed/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/installed/bootstrap-theme.min.css' %}">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.min.css' %}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/installed/verse_styling.css' %}">
    </head>
    <body class="d-flex flex-column vh-100">
        <!-- Navbar -->
        {% include 'navbar.html' %}

        <!-- Content -->
        <div class="d-flex flex-grow-1" style="overflow: hidden;">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Main -->
            {% include 'main.html' %}
        </div>

        <!-- Installed JS -->
        <script src="{% static 'js/installed/htmx.min.js' %}"></script>
        <script src="{% static 'js/installed/popper.min.js' %}"></script>
        <script src="{% static 'js/installed/bootstrap.min.js' %}"></script>
        <!-- Custom JS -->
    </body>
</html>


