{% extends "base.html" %}
{% load static %}

{% block title %}fAIth{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bootstrap/icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/installed/verse_styling.css' %}">
{% endblock %}
{% block body_class %}d-flex flex-column vh-100{% endblock %}
{% block content %}

        <!-- Navbar -->
        {% include 'navbar.html' %}

        <!-- Content -->
        <div class="d-flex flex-grow-1" style="overflow: hidden;">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Main -->
            {% include 'main.html' %}
        </div>

        <!-- Modals -->
        {% include 'modals/inputs/general_question.html' %}
        {% include 'modals/inputs/ask_selected.html' %}
        {% include 'modals/inputs/definition_search.html' %}
        {% include 'modals/inputs/search.html' %}
        {% include 'modals/inputs/summarize_chapter.html' %}
        {% include 'modals/inputs/devotional_chapter.html' %}
        {% include 'modals/inputs/quiz_chapter.html' %}
        {% include 'modals/inputs/image_search.html' %}
        {% include 'modals/inputs/map_search.html' %}
        {% include 'modals/outputs/server_response.html' %}

{% endblock %}

{% block extra_js %}
        <script src="{% static 'js/fAIth/htmx_updates.js' %}"></script>
        <script src="{% static 'js/fAIth/text_selection.js' %}"></script>
        <script src="{% static 'js/fAIth/summarize_chapter.js' %}"></script>
        <script src="{% static 'js/fAIth/devotional_chapter.js' %}"></script>
        <script src="{% static 'js/fAIth/quiz_chapter.js' %}"></script>
        <script src="{% static 'js/fAIth/image_search.js' %}"></script>
        <script src="{% static 'js/fAIth/map_search.js' %}"></script>
        <script src="{% static 'js/fAIth/definition_search.js' %}"></script>
{% endblock %}


