<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 5rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center mt-4">
        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-house-fill"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-speedometer2"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-table"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-grid-3x2-gap"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="bi bi-people-fill"></i>
            </a>
        </li>
    </ul>
</div>