<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 5rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center mt-4">
        <li class="nav-item">
            <a href="#" class="nav-link px-0 border-bottom" title="General Question" data-bs-placement="right" data-bs-toggle="modal" data-bs-target="#promptUserModal">
                <i class="bi bi-question-lg"></i>
                <p class="mb-0" style="font-size: 0.75rem;">General Question</p>
            </a>
        </li>
    </ul>
</div>